/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 16, 2023, 11:10:13 PM
    Author     : ASUS
*/
.login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}
.login_headling {
  margin-left: 225px;
}
.login_headling h1 {
  font-family: "Handlee", cursive;
}
.login_headling h3 {
  font-family: "Handlee", cursive;
}
.login_container label {
  font-family: "Nunito", sans-serif;
}

.input {
  width: 300px;
  height: 30px;
}
.login_form_div {
  margin-bottom: 10px;
}
.login_btn-1 {
  width: 307px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #17a2b8;
  color: #fff;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, cursor 0.15s ease-in-out;
  margin-bottom: 10px;
  cursor: pointer;
}
.login_btn-1:hover {
  background-color: #138496;
  border-color: #117a8b;
}
.login_btn-2 {
  border-radius: 10px;
  background: #353535;
  width: 307px;
  height: 40px;
  flex-shrink: 0;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
  border:none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, cursor 0.15s ease-in-out;
  cursor: pointer;
}
.login_btn-2:hover {
  background-color: #5e5e5e;
  border-color: #7a7a7a;
}

.login_footer label {
  color: #353535;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.login_body {
  display: flex;
}
.login_container a {
  color: #3f46ff;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.login_error {
    color: red;
}
