/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 16, 2023, 11:10:13 PM
    Author     : ASUS
*/
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
.login-header {
    margin-left: 225px;
}
.login-header h1 {
    font-family: "Handlee", cursive;
}
.login-header h3 {
    font-family: "Handlee", cursive;
}
.login label {
    font-family: "Nunito", sans-serif;
}

.input {
    width: 300px;
    height: 30px;
}
.login-form_ele {
    margin-bottom: 10px;
}
.btn-1 {
    width: 307px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #17a2b8;
    color: #fff;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
}
.btn-2 {
    border-radius: 10px;
    background: #353535;
    width: 307px;
    height: 40px;
    flex-shrink: 0;
    color: #fff;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
    cursor: pointer;
}

login-footer label {
    color: #353535;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.login-body {
    display: flex;
}
.login a {
    color: #3f46ff;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
